PROJECT_NAME=proxy_aa
COMPOSE_PROJECT_NAME=proxy_aa
BASE_HOSTNAME=localhost
HTTP_PORT_NGINX=80
HTTPS_PORT_NGINX=443
HTTP_PORT_PROXY=8080
HTTPS_PORT_PROXY=8443
WORKDIR=../src/
DB_HOST=127.0.0.1
STATIC_HOST=127.0.0.1
STATIC_PORT=9000
